body{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
  
  .main{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    font-family: Helvetica;
    height: 30rem;
    text-align: center;
    font-size: 1rem;
  }
  
  .buttonGenerate{
    background-image: linear-gradient(red,orange);
    border: none;
    padding: 10px;
    color: #fffdfa;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 1rem;
    transition: all 400ms ease;
  }
  
  .buttonGenerate:hover{
    background-image: linear-gradient(#ffa257,yellow);
    cursor: pointer;
  }
  
  img{
    height: 250px;
    width: 350px;
  }
  